table {
    background-color: white;
}

th {
    border: thin solid black;
}

#percentages {
    width: 100%;
    table-layout: fixed;
}

#percentages td {
    text-align: center;
    border: thin solid gray;
}

#percentages td.empty {
    background-color: #EAEAEA;
    color: #555;
}

#percentages td.afd {
    box-shadow: 0px 10px 0px 0px #D45500 inset;
}

#percentages td.tfd {
    box-shadow: 0px 10px 0px 0px #DF00BA inset;
}

#percentages td.ffd {
    box-shadow: 0px 10px 0px 0px #BD7270 inset;
}

#percentages td.cfd {
    box-shadow: 0px 10px 0px 0px #323296 inset;
}

#percentages td.rfd {
    box-shadow: 0px 10px 0px 0px #FDC300 inset;
}

#percentages td.mfd {
    box-shadow: 0px 10px 0px 0px #1ECEAB inset;
}

#percentages a {
    display: block;
    color: black;
}

#percentages a:hover {
    text-decoration: none;
}

.process {
    font-size: 200%;
    display: block;
}

.matrix {
    margin-right: 10px;
    background-color: #F3F3F3;
    border-right: thin solid black;
    border-bottom: thin solid black;
}

.matrix td, .matrix th {
    padding: .25em;
    text-align: center;
}

.matrix th {
    background-color: white;
}

.matrix td {
    border: thin dotted #BBB;
}

.matrix td.hidden {
    background-color: #F3F3F3;
    border: 0;
}

.matrix td.agree-nonzero {
    background-color: #9f9;
}

.matrix td.agree-zero {
    background-color: #b7e0b7;
}

.matrix td.disagree-nonzero {
    background-color: #ff9;
}

.matrix td.disagree-zero {
    background-color: #e0e0b7;
}

table.recent td {
    border: thin solid black;
}

table.recent td.title {
    word-break: break-all;
}

.empty-section {
    color: #666;
}